* {margin: 0;
    padding: 0;
}
body {
    font-family: 'Oswald', sans-serif;
    min-width: 1000px;
}

.header {
    height: 110px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:0 80px;
}
.menu {
    width: 341px;
}
.cafe__title {
    font-weight: 500;
    font-size: 36px;
    line-height: 53px;
    text-transform: uppercase;
}
.menu__ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
}
.menu__li {
    font-weight: 300;
    font-size: 24px;
    line-height: 36px;
    text-transform: uppercase;
}
.menu__link {
    text-decoration: none;
    color: black;
}
.menu__link:hover {
    color: rgb(97, 95, 95);
}
.img_container {
    width: auto;
    height: 622px;
    background-image:  url(photo-1494415859740-21e878dd929d.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    min-width: 1440px;
}
.img_title {
    height:  355px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-weight: 700;
    font-size: 60px;
    line-height: 89px;
    text-transform: uppercase;
    color: white;
text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
-webkit-text-stroke: 1px black;
}
.line {
    width: 80px;
    height: 10px;
    background-color: #817070;
    margin: 7px auto 0;
    
}
